<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Surfer Compet | Add</title>
    <link rel="icon" href="/assets/favicon.png">
    <script src="https://kit.fontawesome.com/8f45faa16b.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/assets/style.css">

    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css"> 
	<link rel="stylesheet" href="css/bootstrap.min.css.map">
</head>
<body>
		
	<!-- start navbar  -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="/">SurFerCompet</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <li class="active"><a href="/add">New competitor</a></li>
            </ul>
          </div>
        </div>
      </nav>
	<!-- end navbar  -->

	<!-- start contenu  -->
	<div class="container">
		<h1 class="text-center">Add new competitor</h1>
		<div class="row">
			<form class="col-sm-6" action="/add" method="POST">

				<div class="form-group">
					<label for="name">Image </label>
					<input 
					type="file" 
					class="form-control input-lg" 
					id="image" 
					name="image"
					placeholder="Upload your photo"/>
				</div>
	
				<div class="form-group">
					<label for="name">Name</label>
					<input 
					type="text"
					class="form-control input-lg"
					id="name"
					name="name"
					placeholder="Your name"/>
				</div>
				
				<div class="form-group">
					<label for="ville">City</label>
					<input 
					type="text" 
					class="form-control input-lg"
					id="ville" 
					name="ville"
					placeholder="Your city"/>
				</div>
				
				<div class="form-group">
					<label for="desc">Type of Surfing</label>
					<input 
					type="text"
					class="form-control input-lg" 
					id="typeOfSurf"
					name="typeOfSurf"
					placeholder="Add Your Type of Surfing"/>
				</div>
				
				<button type="submit" class="btn btn-info  mt-5">Add</button>
			</form>
			<img class="col-sm-6" src="/assets/img2.jpg">
		</div>
	</div>
	<!-- end contenu  -->
	<!-- footer  -->
	<footer class="container-fluid">
		<div class="container">
			<div class="d-flex justify-content-between bg-secondary mb-3" style="justify-content: space-between; display: flex; flex-wrap: wrap;">
				<p class="p-2 col"> Copyright 2020 ©, YouCode - All Rights Reserved. </p>
				<div class="p-2 col">
					<i class="fa fa-whatsapp" aria-hidden="true"></i>
					<i class="fa fa-facebook" aria-hidden="true"></i>
					<i class="fa fa-instagram" aria-hidden="true"></i>
					<i class="fa fa-youtube" aria-hidden="true"></i>
					<i class="fa fa-twitter" aria-hidden="true"></i>
				</div>
			</div>
		</div>
	</footer>
	
	<script src="js/jquery-3.4.1.slim.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>

</body>
</html>
